{% load static %}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'mycalendar/style.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Static Example</title>
  <style>
      body {font-family: Arial, sans-serif;}
        button {width: 350px}
        </style>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
</head>
<body>
{% load extra %}
    {% if request.user|has_group:"managers" %}
        <form method="post">
        {% csrf_token %}
  {{ form.as_p }}

<script>
  $(function () {
    $("#id_date").datepicker({
      format:'dd/mm/yyyy',
    });
  });
</script>
            <button type = "submit" >Make Rota for chosen day</button>
            </form>

<p><form method="get" action="/">
    <button type="submit">Back to index</button><p/>
  </form>
    {% else %}
    <p><h1>You do not have privilige to access this page</h1></p>
        <p><form method="get" action="/">
        <button type="submit">Back to index</button><p/>
         </form>

    {% endif %}
{% if list1 %}
    <p>Rota for selected day:</p>
<ul class="list-group">

    {% for x in list1 %}
        <li class="list-group-item">{{ x }}</li>

        {% endfor %}
        </ul>
    {% else %}
<p>No workers</p>
    {% endif %}
</body>
</html>